@model List<RequestRecord>
@using Cloud_Assignment.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject UserManager<Cloud_AssignmentUser> UserManager

@{
	ViewData["Title"] = "Food Donation Management";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var UserAccount = await UserManager.GetUserAsync(User);
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<style>
	body {
		font-family: 'Arial', sans-serif;
		background-color: #f4f4f4;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 0.9em;
		min-width: 400px;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}

	.allwhite {
		background-color: white;
	}

	th, td {
		padding: 12px 15px;
		text-align: center;
	}

	th {
		background-color: #009879;
		color: #ffffff;
		text-transform: uppercase;
	}

	tr {
		border-bottom: 1px solid #dddddd;
	}

		tr:nth-of-type(even) {
			background-color: #f3f3f3;
		}

		tr:last-of-type {
			border-bottom: 2px solid #009879;
		}

	.action-buttons {
		display: flex;
		justify-content: center;
	}

		.action-buttons form, .action-buttons button {
			margin-right: 10px;
		}

		.action-buttons button {
			padding: 5px 10px;
			background-color: #009879;
			color: white;
			border: none;
			cursor: pointer;
		}

			.action-buttons button:hover {
				background-color: #007961;
			}

	.form-section {
		background-color: #fff;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
		margin-top: 20px;
		margin-bottom: 20px;
	}
</style>

<center>
	@{
		var title = Model.Count > 0 ? Model[0].RequestStatus == "accept" ? "Accepted Food Request" :
		Model[0].RequestStatus == "deny" ? "Denied Food Request" : "Request Record"
		: "Request Record";
	}
	<h1>@title</h1>
	<table class="allwhite">
		<thead>
			<tr>
				<th>Request Date</th>
				<th>User Id</th>
				<th>Request Id</th>
				<th>Request Food Id</th>
				<th>Request Quantity</th>
				<th>Request Status</th>
				<th>Request Description</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.DOR</td>
					<td>@item.UserId</td>
					<td>@item.RecordId</td>
					<td>@item.FoodId</td>
					<td>@item.FoodQuantity</td>
					<td style="color: @(item.RequestStatus == "accept" ? "blue" : item.RequestStatus == "deny" ? "red" : "black")">
						@item.RequestStatus
					</td>
					<td>@item.RequestDesc</td>
				</tr>
			}
		</tbody>
	</table>
</center>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


