@model List<RequestRecord>
@using Cloud_Assignment.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject UserManager<Cloud_AssignmentUser> UserManager
@{
    ViewData["Title"] = "Index";
    var UserList = UserManager.Users;
}

<style>
    body {
        background-color: lightblue;
    }

    h1 {
        font-family: 'Trocchi', serif;
        font-size: 38px;
        font-weight: normal;
        line-height: 48px;
        margin: 0;
    }

    table {
        margin: 10px;
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;
        border: 2px solid #000;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

    td {
        padding: 15px;
        background-color: #FAFAD2;
    }

    th {
        background-color: #E0FFFF;
    }

    .btn {
        text-decoration: none;
        padding: 0.5rem;
        border: 1px solid #333333;
        border-radius: 10px;
        background-color: #F0F8FF;
    }

        .btn:hover {
            background-color: #9966FF;
            color: #FFFFFF;
        }
</style>

<h1>Distribution Schedule Management Page</h1>
<p>
    <a class="btn" asp-action="AddDistributionScheduleRecord">Schedule Distribution</a>
    <a class="btn" asp-action="ViewScheduleRecord">View Distribution Schedule Record</a>
</p>

<center>
    <h1>Food Request</h1>
    <table>
        <tr>
            <th>Record ID</th>
            <th>Request Date</th>
            <th>Request Status</th>
            <th>Requestor</th>
            <th>Food ID</th>
            <th>Food Quantity</th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.RequestStatus == "accept")
            {
                <tr>
                    <td>@item.RecordId</td>
                    <td>@item.DOR</td>
                    <td>@item.RequestStatus</td>
                    @foreach(var user in UserList)
                    {
                        if(user.Id == item.UserId)
                        {
                            <td>@user.UserFullName</td>
                        }
                    }
                    <td>@item.FoodId</td>
                    <td>@item.FoodQuantity</td>
                </tr>
            }
        }
    </table>
</center>

