@model List<RequestRecord>
@{
    ViewData["Title"] = "Index";   
}

<h1>Distribution Schedule Management Page</h1>
<p><a asp-action="AddDistributionScheduleRecord">Schedule Distribution</a>
<a asp-action="ViewScheduleRecord">View Distribution Schedule Record</a></p>
<h1>Food Request Table</h1>

<center>
    <table border="1">
        <tr style="background-color: yellow;">
            <th>Record ID</th>
            <th>Request Type</th>
            <th>Request Date</th>
            <th>Request Status</th>
            <th>Requestor</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RecordId</td>
                <td>@item.requestType</td>
                <td>@item.DOR</td>
                <td>@item.RequestStatus</td>
                <td>@item.User?.UserFullName</td>
            </tr>
        }
    </table>
</center>

